/* FORSIDE */

.forsidetekst {
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
}

/* styling af links */
.link1,
.link2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 5px white; /* virker ikke */
}

.link1 {
  margin-bottom: 6rem;
}

/* fjerner understregning fra linket */
.no_underline {
  text-decoration: none;
}

/* MOBILVERSION */
@media screen and (max-width: 800px) {
  /* afstand til footeren */
  .link2 {
    margin-bottom: 6rem;
  }

  /* fontstørrelser */
  .forsidetekst {
    font-size: 0.9rem;
  }

  .no_underline {
    font-size: 1.25rem;
  }

  /* afstand til billede */
  .link1 {
    margin-bottom: 4rem;
  }
}

/* DESKTOPVERSION */
@media screen and (min-width: 800px) {
  /* beskærer forsidebilledet */
  .container {
    width: 89rem;
    height: 35rem;
    overflow: hidden; /* skjuler overskydende områder */
  }

  .forsidebillede {
    width: 100%; /* sætter width til 100 så den udfylder hele containeren */
    height: auto; /* bevarer billedets aspektforhold */
  }

  /* fontstørrelser */
  .overskrift {
    font-size: 3rem;
  }

  .no_underline {
    font-size: 1.5rem;
  }

  /* afstand til billede */
  .link1 {
    margin-bottom: 6rem;
  }

  /* afstand til footeren */
  .link2 {
    margin-bottom: 10rem;
  }
}
