/* FORSIDE */

.forsidetekst {
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
}

/* styling af links */
.link1,
.link2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

/* tilføje ramme til links */
.no_underline {
  border: 1px solid white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  /* fjerner understregning fra linket */
  text-decoration: none;
}

.link1 {
  margin-bottom: 6rem;
}

/* MOBILVERSION */
@media screen and (max-width: 800px) {
  /* Placere tekst ovenpå billede */
  .container1 {
    position: relative;
    display: inline-block; /* For at tilpasse sig indholdet */
  }

  .overlay {
    position: absolute;
    top: 84%;
    left: 69.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(46, 55, 34, 0.849);
    margin: -100px;
    width: 97vw;
    height: 55vw;
  }

  .overlay h2,
  .overlay p,
  .overlay a {
    margin: 10px 0;
  }

  /* centrerer og gøre svampebillede mindre */
  .svampetrio {
    width: 80%;
    margin-left: 50px;
    margin-top: 2rem;
  }

  /* afstand til footeren */
  .link2 {
    margin-bottom: 6rem;
  }

  /* fontstørrelser */
  .overskrift {
    font-size: 2.2rem;
  }

  .forsidetekst {
    font-size: 0.9rem;
  }

  .no_underline {
    font-size: 1.25rem;
  }

  /* afstand til billede */
  .link1 {
    margin-bottom: 1rem;
  }
}

/* DESKTOPVERSION */
@media screen and (min-width: 800px) {
  /* Placere tekst ovenpå billede */
  .container1 {
    position: relative;
    display: inline-block; /* For at tilpasse sig indholdet */
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(46, 55, 34, 0.849);
  }

  .overlay h2,
  .overlay p,
  .overlay a {
    margin: 10px 0;
  }

  /* beskærer forsidebilledet */
  .container {
    width: 89rem;
    height: 35rem;
    overflow: hidden; /* skjuler overskydende områder */
  }

  .forsidebillede {
    width: 100%; /* sætter width til 100 så den udfylder hele containeren */
    height: auto; /* bevarer billedets aspektforhold */
  }

  /* centrerer og gøre svampebillede mindre */
  .svampetrio {
    width: 50%;
    margin-left: 345px;
  }

  /* fontstørrelser */
  .overskrift {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  .no_underline {
    font-size: 1.5rem;
  }

  /* afstand til billede */
  .link1 {
    margin-bottom: 4rem;
  }

  /* afstand til footeren */
  .link2 {
    margin-bottom: 15rem;
  }
}

/* IPADVERSION TIL AIR */
@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) {
  /* beskærer forsidebilledet */
  .container {
    width: 50.25rem;
    height: 25rem;
    overflow: hidden; /* skjuler overskydende områder */
  }

  .forsidebillede {
    width: 100%; /* sætter width til 100 så den udfylder hele containeren */
    height: auto; /* bevarer billedets aspektforhold */
  }

  /* centrerer og gøre svampebillede mindre */
  .svampetrio {
    width: 60%;
    margin-left: 170px;
  }

  /* fontstørrelse og margin */
  .forsidetekst {
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .link2 {
    margin-bottom: 10rem;
  }
}
