.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kolonner med samme bredde */
  justify-content: center; /* Centrerer gitteret vandret */
  gap: 20px; /* Tilføjer lidt afstand mellem kolonnerne */
  width: 80%; /* Tilføj den ønskede bredde */
  margin: 0 auto; /* Centrerer .grid_2 containeren vandret */
}

article {
  /* Tilpas stilen på hvert produktartikel efter behov */
  background-color: rgba(46, 55, 34, 1);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.season {
  display: flex;
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  text-align: center; /* Centrerer teksten */
  width: 100%; /* Sørger for, at .overview elementerne fylder hele bredden af deres container */
}

.Seasons {
  width: 100%; /* Bredden på hvert .overview element (juster efter behov) */
  max-width: 400px; /* Eksempel: Begræns bredden til 300px */
  border: solid white 1px;
}

.season_billede {
  max-width: 100%; /* Sørg for, at billedet ikke overstiger bredden af dets parent container */
}
.season_info {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  margin-bottom: 2em;
}
@media screen and (max-width: 800px) {
  .grid_4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
