@font-face {
  font-family: protest;
  src: url(../fonts/proteststrike-regular-webfont.woff2);
}
img {
  width: 100%;
}
h1,
p {
  color: white;
}
h3 {
  color: white;
  font-family: protest;
}

@media screen and (min-width: 800px) {
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 100px;
    margin-bottom: 70px;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 100px;
    margin-bottom: 70px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 70px;
    font-size: 1.5rem;
  }
  .beskrivelse {
    padding-left: 70px;
    padding-right: 70px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 800px) {
  .grid1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
  }
  img {
    width: 100%;
  }
  .grid {
    display: grid;
    padding-top: 50px;
    font-size: 1.5rem;
    text-align: center;
  }
  .beskrivelse {
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }
}
